.custom-navbar {
  background-color: #F1EFEC;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: #000000;
}

.navbar-brand.brand-name {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #333333;
}


.active-link {
  border-bottom: 2px solid #646cff;
  font-weight: bold;
  padding-bottom: 0.2rem;
  color: #000000; 
}


.nav-link {
  padding: 0.5rem 0;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;  
  bottom: -2px;  
  left: 0;
  background-color: #4a4a4a;  
  transition: all 0.2s ease;
}
